body{background-image: url(./1407953244000-177513283.jpg);
background-size: cover;}
h1{margin-left: 500px ;
width: 350px;
background-color: azure;
}
#form{background-color: rgb(95, 101, 160);
    width: 300px;}
    p{color: cornsilk;}
    #workes img{border-radius: 50%;}
    h3{margin-left: 500px ;
        width: 100px;
        
    color: rgb(29, 29, 29);
background-color: darkgrey;}
